*{
    @include darkClearTransition;
}
::before
::after {
    box-sizing:border-box;
    text-decoration:none;
}
html {
    font-size:16px;
    border-top: 5px $lightPurple solid;
    width:100%
}
body {
    @include body;
    width:100%;
    margin:auto;

    h1, h2, h3, h4, h6 {
        text-align:$centered;
        color:$lightPurple;
    }
};