.favorites{
    .favoritesTitle{
        display:flex;
        flex-direction:column;
        flex-wrap:nowrap;
        align-content:center;
    }
}
.favGifs{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    .favgif{
        width:148px; height:120px;
        border: 1px solid blue;
        margin:25px 0 25px 0;
    }
}

.popUp{
    z-index:2;
}
