//Header:
    //Logo
.logoTheme{
    z-index:9999;
}
//Search input

.whenSugerencia{
    border-radius: 27px 27px 0px 0px;
}
.sugerencia{
    width:325px; max-width:334px;
    height:200px;
    border: 2px solid $lightPurple;
    border-top:0px;
    border-radius:0px 0px 27px 27px;
}

//Cambio color barra superior - Darkmode
.darkHTML{
    border-top: 5px black solid;
}

//Trending IMG:
.trendingImg{
    width:200px;
    height:300px;
    margin:0 20px;
}

.leftBtn, .rightBtn {
    cursor:pointer;
    margin: 0 10px;
    &:hover{
        transform: scale(1.1);
        transition: 0.2s;
    }
}

//DIVS DE COLOR EN SEARCHBAR
.newDiv{
    position: relative;
    width:40%;
    height:200px;
    background-color:transparent;
    padding:0;
    margin:10px 10px 10px 10px;
}

.overlayStyle{
    position:absolute;
    top:0;left:0;
    width:100%;
    height:100%;
    background-color:$lightPurple;
    opacity:80%;
    z-index:2;
    text-align:right;
}

.inserted{
    position: relative;
    margin: 10px 10px 0 10px;
    width:32px;
    height:32px;
}

//USUARIO Y TITULO DE GIF EN BUSQUEDAS.
    //Solucionar temas de visualización!!!!!!!!!!!!!
.userYTitle{
    display:none;
}

.userTitle{
    display:block;
    position:absolute;
    bottom:0;left:0;
    color:white;
}
.gifTitle{
    display:block;
    position:absolute;
    bottom:-10;
    left:0;
    color:white;
    font-weight: bold;
}
//-----------------------------------------------------
.divAgrandarImg{ //CAMBIAR POSITION, TOP Y LEFT.
    position: fixed;
    background-color:white;;
    z-index: 4;
    top:0;right:0;
    width:100vw;
    height:100vh;
    text-align:center;
}
.agrandarImg{
    width:48%;
    height:53%;
    margin: 40px 0 0 0;
}
.exit{
    position:absolute;
    top:20;
    right:15;
    z-index:5;
    cursor:pointer;
}
.divInfo{
    display:block;
    background-color:grey;
    z-index:6;
}
.userTitleAgrandar{
    position:relative;
    color:$lightPurple;
}
.gifTitleAgrandar{
    position:relative;
    color:$lightPurple;
}

.textoTrends{
    cursor:pointer;
}