//Search input

.whenSugerencia{
    border-radius: 27px 27px 0px 0px;
}
.sugerencia{
    width:325px; max-width:334px;
    height:200px;
    border: 2px solid $lightPurple;
    border-top:0px;
    border-radius:0px 0px 27px 27px;
}

//Cambio color barra superior - Darkmode
.darkHTML{
    border-top: 5px black solid;
}

//Trending IMG:
.trendingImg{
    width:100%;
    height:100%;
}

//DIVS DE COLOR EN SEARCHBAR
.newDiv{
    position: relative;
    width:40%;
    height:200px;
    background-color:transparent;
    padding:0;
    margin:10px 10px 10px 10px;
}

.overlayStyle{
    position:absolute;
    top:0;left:0;
    width:100%;
    height:100%;
    background-color:$lightPurple;
    opacity:80%;
    z-index:2;
    text-align:right;
}

.inserted{
    position: relative;
    margin: 10px 10px 0 10px;
    width:32px;
    height:32px;
}