//Header:
    //Logo
.logoTheme{
    z-index:9999;
}
//Search input

.introGifos {
    #searchDiv{
        height:56px;
        display:relative;
        display:grid;
        grid-template-rows: repeat(1,1fr);
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        
    }
    input{
        grid-column: 1 / 5;
        grid-row:1 / 2;
        font-family: $normalFont;
        font-size:20px;
        color:$lightPurple;

    }
    .search{
        border-color:$white;
        background-color:transparent;
        border: 2px solid $lightPurple;
    }
}
.whenSugerencia{
    border-radius: 27px 27px 0px 0px;
    width:322px; max-width:334px;
    height: 50px;
    border: 2px solid $lightPurple;
    background-color: transparent;
    border-bottom-color:transparent;
}
.sugerencia{
    width:325px; max-width:334px;
    height:200px;
    border: 2px solid $lightPurple;
    border-top:0px;
    border-radius:0px 0px 27px 27px;
    .h3{
        text-align:left;
    }
}

.sugerenciaDiv{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat (1,1fr);
}

#cancelSearch, .cancelSearch{
    height:20px;
    width:20px;
    grid-column: 4 / 5;
    grid-row:1 / 2;
    display:block;
    margin:auto;
}

.lupa{
    margin: auto auto auto 10px;
}

//Cambio color barra superior - Darkmode
.darkHTML{
    border-top: 5px black solid;
}


//DIVS DE COLOR EN SEARCHBAR
.newDiv{
    position: relative;
    width:260px;
    height:200px;
    background-color:transparent;
    padding:0;
    margin:10px 10px 10px 10px;
}

.overlayStyle{ //Overground violeta
    flex-direction:column;
    flex-wrap:wrap;
    position:absolute;
    top:0;left:0;
    width:100%;
    height:100%;
    background-color:$lightPurple;
    opacity:80%;
    z-index:2;
}

.inserted{
    position: relative;
    margin: 10px 10px 0 10px;
    width:32px;
    height:32px;
}
.imgBox {
    width:100%;
    height:100%;
}
.icons{
    width:100%;
    height:151px;
}
//USUARIO Y TITULO DE GIF EN BUSQUEDAS.
    //!Solucionar temas de visualización!!!!!!!!!!!!!
.userYTitle{
    display:none;
    font-size:16px;
}

.userTitle{
    top:140;
    left:0;
    display:inherit;
    position:absolute;
    top:135;left:0;
    color:white;
}
.gifTitle{
    display:inherit;
    position:absolute;
    color:white;
    font-weight: bold;
}
//-----------------------------------------------------
.divAgrandarImg{ //CAMBIAR POSITION, TOP Y LEFT.
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color:white;;
    z-index: 4;
    top:0;right:0;
    width:100vw;
    height:100vh;
    text-align:center;
}
.agrandarImg{
    width:48%;
    height:53%;
    margin: 40px 0 0 0;
}
.exit{

    cursor:pointer;
}
.divInfo{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:50px;
    grid-template-areas:
    "user none download like";
    width:48%;
    z-index:6;
}
.userTitleAgrandar{
    position:relative;
    color:$lightPurple;
}
.gifTitleAgrandar{
    position:relative;
    color:$lightPurple;
}

.textoTrends{
    cursor:pointer;
}

//Crear GIFO
    //Cámara / Video:
.gifVideo{
    width:100%;
    height:100%;
}

//Favoritos
.favGifs{
    display:flex;
    flex-wrap:wrap;
}
.div1{
    width:100%;
    height:300px;
}

.tituloSinGifs{
    text-align:$centered;
    color:$aquaGreen;
}

.sugeridosDiv{
    display:flex;
    flex-direction:column;
}
.textoTrending{
    margin: 0 10px;
    text-transform:capitalize;
    &:hover{
        transform: scale(1.1);
        transition: 0.2s;
    }
}

.trendingImgContainer{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.trendingImages{
    width:100%;
    height: 100%;
}
.imageDiv{
    position: relative;
    width:33%;
    height:200px;
    background-color:transparent;
    padding:0;
    margin:10px 10px 10px 10px;
}

#leftBtn, #rightBtn {
    cursor:pointer;
    justify-self: center;
    align-self:center;
    margin:15px;
    width: 50px;
    height:50px;
    &:hover{
        transform: scale(1.1);
        transition: 0.2s;
    }
}