//@media screen and (max-width:768px){
    .introGifos {
        display:flex;
        flex-wrap:nowrap;
        flex-direction:column;
        align-items:center;
        width:100%;
        h1 {
            width:286px;
            font-size: 1.56rem;
            line-height:33px;
            font-weight:700;
            span {
                color:$aquaGreen;
                text-transform: uppercase;
            }
        }
        #comunidad {
            width:278px;
            height:130px;
        }
        .search {
            font-size: 1rem;
            width:325px; max-width:334px;
            height:50px;
            border-radius:27px;
            border-color: $lightPurple;
        }
    }
    .trendingContainer {
        background-color:$backgroundColor;
        .carrouselContainer{
        display:flex;
        flex-wrap:nowrap;
        justify-content: space-between;
        overflow: hidden;
        width:100%;
            .trendingGif{
                width:243px;
                height:187px;
            }
            .divCarrousel{
                display:block;
                width:calc(100% / 3 - 20%);
                height: auto;
                border:1px solid black;
            }
        }
        #img1, #img2, #img3{
            width:200px;
            height:300px;
            margin:10px 20px;;
        }
    }
    .searches{
        text-align:center;
        display:block;
        .searchContainer {
            width:80%;
            display:flex;
            flex-direction:row;
            flex-wrap:wrap;
            justify-content:space-between;
            padding:0;
            margin:0 auto;
        }
    }
    footer {
        font-family: $robotoFont;
        color:black;
        height:196px;
        display:flex;
        flex-wrap:nowrap;
        flex-direction:column;
        justify-content:center;
        .socialMedia {
            width:15%;
            margin:auto;
            display:flex;
            justify-content:space-between;
        }
        h6{
            @include footerText;
        }    
        .copyright {
            @include footerText;
            text-transform: capitalize;
            span {
                text-transform: uppercase;
            }
        }
    }
    //MIS GIFOS
    .createGifos{
        display:block;
        width:100%;
        .mainScreen{
            margin:auto;
            border:1px solid $lightPurple;
            width:47.8%;height:390px;
        }
        .numbers{
            display:flex;
            margin:0 auto;
            width:200px;
            flex-direction:row;
            flex-wrap: nowrap;
            justify-content:space-between;
            .number{
                font-size:1.125rem;
                display:flex;
                justify-content:space-around;
                align-items:center;
                color:$lightPurple;
                width:32px; height:32px;
                border:1px solid $lightPurple;
                border-radius:100px;
            }
        }
        span{
            display:block;
            margin:auto;
            width:55%; height:1%;
            border:1px solid $lightPurple;
            background-color:$lightPurple;
        }
        .comenzar{
            width:127px; height:50px;
            display:flex;
            justify-content:center;
            align-items:center;
            color:$lightPurple;
            margin:auto;
            border:1px solid $lightPurple;
            border-radius: 25px;
            text-transform:uppercase;
        }
    }
    .mainIcon{
        width: 100%;
        height:21px;
    }
