@media screen and (min-width:769px){
    .header{
        z-index:0;
        .topMenu {
            img{
                z-index:999;
            }
        }
    }
    .topMenu {
        float:right;
        position:absolute;
        top:0; right:0;
        width:100%;
        z-index:0;
            .hamMenu{
                width:auto;
                float:right;
                input{
                    display:none;
                }
                .popUp {
                    display:flex;
                    flex-wrap:nowrap;
                    width:100%;
                    padding:0;
                    margin-top:30px;
                    .menuLi {
                        color:$lightPurple;
                        font-weight:bold;
                        list-style:none;
                        display:inline;
                        margin: auto 21px;
                        cursor: pointer;
                        &:hover{
                            transform:scale(1.1);
                        }
                    }
                    .line{
                        display:none;
                        
                    }
                    img {
                        display: inline;
                        margin:0 50px 0 42px;
                        cursor: pointer;
                    }
                }
            }
        label{
            display:none;
            span {
                display:none;
            }
        }
    //MAIN
        .introGifos{
            h1{
                width:64.9%;
            }
        }
        .newDiv{
            width:calc(100%/4);
            height:40%;
            background-color:transparent;
        }
        footer{
            display:grid;
            height:116px;
            width:100%;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: 1;
            align-items:center;
            .socialMedia{
                margin:0px;
                align-items:center;
                display:flex;
                flex-wrap:nowrap;
                grid-row: 1;
                grid-column: 1/2;
                height:100%;
                padding-left:116px;
                h6, img{
                    margin: 0px;
                    height:20px;
                    margin-right:20px;  
                }
            }
            .copyright{
                margin:0px;
                grid-row:1;
                grid-column:2/3;
                height:100%;
                height:20px;
                margin-right: 158px;
            }
        }
    }   
    .sugeridosDiv{
        display:flex;
        flex-direction:row;
    }

    .trendingContainer {
        display:flex;
        flex-direction:column;
        justify-content:space-around;
        width:80%;
        height:500px;
        margin:auto;
        background-color:$backgroundColor;
        .carrouselContainer{
            display:flex;
            gap:5%;
            flex-wrap:nowrap;
            justify-content: space-between;
            overflow: hidden;
            width:100%;
            .imageContainer{
                width:33%;
                #img1, #img2, #img3{
                    width:100%;
                }
            }
            .divCarrousel{
                display:block;
                width:calc(100% / 3 - 5%);
                height: 150px;
                border:1px solid black;
            }
        }
    }
}

@media screen and (max-width:470px){
    .carrouselContainer{
        overflow:scroll;
    }
}