@media screen and (min-width:769px){
    .headerContainer{
        .hamMenu{
            height:95px;
            visibility:visible;
            overflow:visible;
            .topMenu{
                position:relative;
                display:block;
                height:95px;
                .popUp{
                    position:relative;
                    display:block;
                    height:95px;
                    top:0px;
                    li{
                        display:inline-block;;
                        transition:none;
                    }
                }
            }
            label {
                span{
                    display:none;
                }
            }                
        }
    }
}

@media (min-width:768px){
    .introGifos{
        h1{
            width:64.9%;
        }
    }
}

