@mixin clearFix{
    content:"";
    visibility:hidden;
    font-size:0px;
    display:block;
    height:0;
    clear:both;
}
@mixin body {
    font-family:$normalFont;
    margin-top:0;
}
@mixin footerText {
    color:black;
    font-size:0.93rem;
}