@mixin clearFix{
    content:"";
    visibility:hidden;
    font-size:0px;
    display:block;
    height:0;
    width:100%;
    clear:both;
}
@mixin body {
    font-family:$normalFont;
}
@mixin footerText {
    color:black;
    font-size:0.93rem;
}

@mixin darkClearTransition {
    transition:$darkClear;
}