//DARK MODE
*{
    @include darkClearTransition;
}
.darkMode{
    background-color: $dark-background;
    transition:$darkClear;
    
    h1, h2, h3, h4, h6 {
        color: $white;
    }
    h1 span {
        color:$aquaGreen;
    }
    .topMenu{
        .menuInput{
            &:checked ~ .popUp{
                background-color:black;
            }
            &:checked ~ label span:nth-child(1){
                background-color:$white;
            }
            &:checked ~ label span:nth-child(3){
                background-color:$white;
            }
        }
    }
    .trendingContainer{
        background-color:#222326;
        .trending{
            background-color:$alt-background;
    }
        .carrouselContainer{
            background-color:#222326;
        }
    }
    footer{
        .copyright{
            color:$white;
        }
    }
}
