//COLORS:
$lightPurple:#572EE5;
$aquaGreen: #5ED7C6;
$backgroundColor: #F3F5F8;
$purpleBack:rgba(87,46,229,0.90);
$white:white;

//DARK-THEME COLORS:
$dark-background: #37383C;
$alt-background:#222326;

//FONTS
$normalFont: 'Montserrat', sans-serif;
$robotoFont: 'Roboto', sans-serif;

//FONT SIZES
$remCalc:16px;

//POSITIONING
$centered: center;

//TRANSITIONS
$menuTransition:all 0.1s ease-in;
$menuTransition2:all 0.5s ease-in;
$darkClear:0.5s;