//COLORS:
$lightPurple:#572EE5;
$aquaGreen: #5ED7C6;
$backgroundColor: #F3F5F8;

//FONTS
$normalFont: 'Montserrat', sans-serif;
$robotoFont: 'Roboto', sans-serif;

//FONT SIZES
$remCalc:16px;

//POSITIONING
$centered: center;